h3{
    color: aliceblue;
    font-size: 2.5em;
}

span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(30, 139, 235);
    font-size: 3.5em;
    font-weight: 900;
}
